

    <div class="jumbotron">
        <h1>PA03: Videogame Database</h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        For my Creative Programming Assignment I decided to do a videogame search
        where people can search for videogames based on their name, publisher, ratings
        to get a better understanding before they buy the game.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/courses/byPublisher">
            Search by Publisher 
              <input type="text" name="subject" 
                     placeholder="e.g. Nintendo">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byGenre">
            Search by Genre
            <input type="text" name="genre" 
                   placeholder="e.g. Action">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byName">
            Search by Name
              <input type="text" name="jason" 
                     placeholder="e.g. Paper Mario">
            <input type="submit">
        </form>
        
        <a href="/schedule/show">Show Schedule</a>
    <% } %>


