

    <div class="jumbotron">
        <h1>CPA02: Videogame Database</h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light" style = "background-color: rgb(207, 148, 59);">
        For my Creative Programming Assignment I decided to do a videogame search
        where people can search for videogames based on their name, publisher and genre
        to get a better understanding before they buy the game.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/games/byPublisher">
            <b>Search by Publisher </b>
              <input type="text" name="subject" 
                     placeholder="e.g. Nintendo">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/games/byGenre">
            <b>Search by Genre</b>
            <input type="text" name="genre" 
                   placeholder="e.g. Action">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/games/byName">
            <b>Search by Name</b>
              <input type="text" name="jason" 
                     placeholder="e.g. Paper Mario">
            <input type="submit">
        </form>
        
    <% } %>


