

    <div class="jumbotron">
        <h1>PA03: Videogame Database</h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        For my Creative Programming Assignment I decided to do a videogame search
        where people can search for videogames based on their name, publisher, ratings
        to get a better understanding before they buy the game.
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/courses/byPublisher">
            Search For VideoGames by Publisher 
              <input type="text" name="subject" 
                     placeholder="e.g. Nintendo">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byInst">
            Search : 
            <input type="text" name="email" 
                   placeholder="e.g. tjhickey">
            <input type="submit">
        </form>
        <br>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Select A Rating!
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/E">E</a></li>
              <li><a class="dropdown-item" href="/T">T</a></li>
              <li><a class="dropdown-item" href="/M">M</a></li>
              <li><a class="dropdown-item" href="/E10">E10+</a></li>
              <li><a class="dropdown-item" href="/AO">AO</a></li>
              <li><a class="dropdown-item" href="/K-A">K-A</a></li>
              <li><a class="dropdown-item" href="/RP">RP</a></li>

            </ul>
          </div>
        <a href="/schedule/show">Show Schedule</a>
    <% } %>


